.nav-container {
    display: flex; 
    gap: 1em;
    padding-bottom: 1.4em;
}

.nav-container > div {
    margin: auto 0 auto auto;
    display: flex; 
    gap: 2em;
}

.nav-container > div > p {
    transition: 80ms ease-in;
    cursor: pointer;
}

.nav-container > div > p:hover {
    color: #ff3131;
}